{% extends "base.html" %}

{% block title %}
Página Inicial
{% endblock %}


{% block content %}

<h1>Nome do Projeto</h1>

<p class="text-muted">
    Descrição do projeto.
</p>


<div class="row g-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5>Funcionalidade 1</h5>

                <p>
                    Descrição.
                </p>

                <a href="#" class="btn btn-success">Acessar</a>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5>Funcionalidade 2</h5>

                <p>
                    Descrição.
                </p>

                <a href="#" class="btn btn-success">Acessar</a>

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5>Funcionalidade 3</h5>

                <p>
                    Descrição.
                </p>

                <a href="#" class="btn btn-success">Acessar</a>

            </div>
        </div>
    </div>

</div>

{% endblock %}
